.about {
  max-width: 1184px;
  min-height: 740px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.about:before {
  background-image: url(../images/about_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0.8;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: -1;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}
.about:hover:before {
  opacity: 0.3;
}

.about__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #fffdfd;
  padding: 0 0 32px 0;
  margin: 0;
}

.about__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  padding: 0 0 32px 0;
}

.about__paragraph {
  margin: 0;
  padding: 0;
}

.about__button {
  width: 137px;
  height: 48px;
  background: #0278fe;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  border: 0;
}

.about__button:hover {
  cursor: pointer;
  background: #0063d2;
}

@media screen and (max-width: 1200px) {
  .about {
    max-width: 900px;
  }
}

@media screen and (max-width: 900px) {
  .about {
    max-width: 768px;
    min-height: 746px;
  }
}

@media screen and (max-width: 765px) {
  .about {
    max-width: 600px;
    min-height: 746px;
  }
}

@media screen and (max-width: 600px) {
  .about {
    max-width: 320px;
    min-height: 254px;
  }

  .about__title {
    font-size: 32px;
    line-height: 35px;
    padding-bottom: 16px;
  }

  .about__subtitle {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 15px;
  }
}
