.caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.caption__title {
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  max-width: 793px;
  margin: 0;
  padding: 92px 0 32px 0;
}

.caption__subtitle {
  max-width: 720px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  padding: 0 0 64px 0;
}

.caption__image {
  max-width: 984px;
}

@media screen and (max-width: 1200px) {
  .caption__title {
    max-width: 720px;
    font-size: 54px;
    line-height: 58px;
    padding: 88px 0 32px 0;
  }

  .caption__subtitle {
    max-width: 720px;
    font-size: 26px;
    line-height: 30px;
    padding: 0 0 36px 0;
  }

  .caption__image {
    width: 768px;
    object-fit: fill;
  }
}

@media screen and (max-width: 700px) {
  .caption__title {
    max-width: 288px;
    padding: 50px 0 16px 0;
  }

  .caption__subtitle {
    max-width: 288px;
    padding: 0 0 40px 0;
  }
  .caption__image {
    max-width: 320px;
  }
}
