.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 213px);
  margin: 0 auto;
  gap: 16px;
  padding: 118px 0 92px 0;
}

.grid__item {
}

@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 213px);
  }
}

@media screen and (max-width: 320px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 216px);
    gap: 0;
  }
}
