@font-face {
  font-family: Inter;
  src: url(../vendor/Inter/static/Inter-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Inter;
  src: url(../vendor/Inter/static/Inter-Medium.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Inter;
  src: url(../vendor/Inter/static/Inter-Bold.ttf);
  font-weight: 900;
}

.page {
  display: flex;
  flex-direction: column;
  background-color: #2a2c2f;
  color: #ffffff;
  font-family: Inter, Arial, sans-serif;
  padding: 34px 0 24px 0;
  margin: 0 auto;
  max-width: 1280px;
  min-width: 1200px;
}

@media screen and (max-width: 1000px) {
  .page {
    padding: 34px 0 24px 0;
    max-width: 990px;
    min-width: 900px;
  }
}

@media screen and (max-width: 768px) {
  .page {
    padding: 34px 0 24px 0;
    max-width: 768px;
    min-width: 760px;
  }
}

@media screen and (max-width: 320px) {
  .page {
    padding: 34px 0 24px 0;
    max-width: 320px;
    min-width: 300px;
  }
}
