.places {
  margin: 0 auto;
}

.place {
  display: grid;
  grid-gap: 48px 40px;
  grid-template-columns: repeat(2, 484px);
  grid-template-rows: auto 460px 48px;
  padding-bottom: 48px;
}

.place__title {
  max-width: 460px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  padding: 0;
}

.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.place__website-heading {
  color: #aaaaaa;
  margin: 0;
  padding: 0 0 8px 0;
}

.place__website-link {
  margin: 0;
  padding: 0;
}

.place__image {
  max-width: 460px;
  margin: 0;
  padding: 0;
}

.place__button {
  width: 248px;
  height: 48px;
  background: #0278fe;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  border: 0;
}

.place__button:hover {
  cursor: pointer;
  background: #0063d2;
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: repeat(2, 340px);
    grid-template-rows: auto 460px 48px;
  }

  .place__title {
    font-size: 42px;
    line-height: 46px;
  }

  .place__image {
    width: 340px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    grid-template-columns: 288px;
    grid-template-rows: auto auto auto auto auto;
  }

  .place__title {
    font-size: 42px;
    line-height: 46px;
  }

  .place__image {
    width: 340px;
  }
}
